<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>evoluzn</title>
    <link rel="icon" type="image/x-icon" href="/static/img/CIRCLE_LOGO.png">
  </head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white pl-5 pr-5">
    <a class="navbar-brand" href="index.html">
        <img src="../static/img/Evoluzn Logo (1) (1) 1.png" alt="Logo" class="logo img-fluid">
    </a> 
  <!-- Collapsed navbar toggle button for mobile and tablet -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item pr-5">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item pr-5">
        <a class="nav-link" href="about.html">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Contact Us.html">Contact Us</a>
      </li>
    </ul>
  </div>
  
</nav> 
  <section>
    <div class="container">
      <div class="row pt-5">
        <div class="col">
          <div class="section-content pb-5">
            <h1 class="home-text text-center">Empowering Industries Through Tailored Innovation</h1>
          </div>
        </div>
      </div>
    </div>
    <img src="../static/img/Rectangle 23793.png" alt="" class="section-img">
  </section>
  <div class="container pb-5">
    <div class="container ">
      <div class="row mt-5">
        <div class="col-md-6">
          <div class="text-center p-4 home-c-text">
            <!-- Text content here (center aligned) -->
            <h2>Digitizing Operations for Informed Decision-Making</h2>
          </div>
          <div class="card card-no-border position-relative">
            <!-- Image content here -->
            <div class="image-container">
              <img src="../static/img/Rectangle 387.png" alt="Your Image" class="img-fluid">
              <div class="image-content">
                <!-- Content to display on hover -->
                Embrace digital transformation to enhance your production and office environment! <br> <br> By
                digitizing, you gain the ability to measure, monitor, and control equipment and environmental
                parameters. Additionally, real-time visualization empowers you to make informed decisions based on live
                data.
              </div>
            </div>
            <!-- Same content as the second card -->
          </div>
          <div class="text-center">
            <a href="Iot_Automation.html" class="btn btn-primary mt-5 explore-button">Explore</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center p-4 home-c-text">
            <!-- Text content here (center aligned) -->
            <h2>Efficiency and Precision in Pristine Harmony</h2>
          </div>
          <div class="card card-no-border position-relative">
            <!-- Image content here -->
            <div class="image-container">
              <img src="../static/img/Rectangle 388.png" alt="Your Image" class="img-fluid">
              <div class="image-content">
                <!-- Content to display on hover -->
                When it comes to cleanroom solutions, precision, reliability, and contamination control are paramount.
                <br><br>By seamlessly integrating an edge computing-enabled sensor network, we eliminate the need for
                manual interventions. Real-time monitoring ensures enhancing efficiency and maximizing ROI .
              </div>
            </div>
            <!-- Same content as the second card -->
          </div>
          <div class="text-center">
            <a href="cleanroom_automation.html" class="btn btn-primary mt-5 explore-button">Explore</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="footer bg-white  py-4">
    <hr>
      <div class="container">
          <div class="row text-center">
              <div class="col-md-3">
                  <div class="col-md-3 pb-3">
                      <img src="../static/img/Evoluzn Logo (1) (1) 1.png" alt="" class="img-fluid small-logo">
                  </div>
              </div>
              <div class="col-md-3">
                  <h5>About us</h5>
                  <ul class="list-unstyled">
                      <li><a href="about.html">About us</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h5>Contact us</h5>
                  <ul class="list-unstyled">
                      <li><a href="Contact Us.html">EvoluznIndia</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h5>Support</h5>
                  <ul class="list-unstyled">
                      <li><a href="Contact Us.html">Customer Support</a></li>
                  </ul>
                  <div class="d-flex justify-content-between mt-3">
                      <a href="https://www.instagram.com/evoluznindia?igsh=bGQwdTQ5NjhocGJi"><img src="../static/img/instagram.png" alt=""></a>
                      <a href="#"><img src="../static/img/twitter.png" alt=""></a>
                      <a href="https://www.linkedin.com/company/evoluzn-india-pvt-ltd/mycompany/"><img src="../static/img/linkedin.png" alt=""></a>
                      <a href="https://www.facebook.com/profile.php?id=100064628276057&mibextid=2JQ9oc"><img src="../static/img/facebook.png" alt=""></a>
                      <!-- Add more social media icons as needed -->
                  </div>
              </div>
          </div>
      </div>
      <hr>
      
  <h5 class="text-center text-grey">Evoluzn Inc. 2024 | T & C</h5>
  </footer>

  <!-- Bootstrap JS and jQuery (optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>