<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>evoluzn</title>
    <link rel="icon" type="image/x-icon" href="/static/img/CIRCLE_LOGO.png">
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white pl-5 pr-5">
        <a class="navbar-brand" href="index.html">
            <img src="../static/img/Evoluzn Logo (1) (1) 1.png" alt="Logo" class="logo img-fluid">
        </a> 
      <!-- Collapsed navbar toggle button for mobile and tablet -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item pr-5">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item pr-5">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Contact Us.html">Contact Us</a>
          </li>
        </ul>
      </div>
      
    </nav> 
  <section id="cleanroomContent">
    <div class="container pb-3">
        <div class="text-center">
            <!-- Centered text for the second column goes here -->
            <h5 class="Automaion_info_text pt-3 pb-3">Factory Automation</h5>
        </div>
        <div class="row shadow rounded">
            <div class="col-md-6 p-5">
                <h2 id="productName" class="productname"></h2>
                <p id="productModel">Model No: XYZ456</p>
                <img id="productImage" src="../static/img/Group 1000004172.png" alt="Image" class="img-fluid mt-3">
            </div>
            <div class="col-md-6 pt-5 pb-5">
                <img id="secondaryImage" src="../static/img/Group 1000004193.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<footer class="footer bg-white  py-4">
    <hr>
      <div class="container">
          <div class="row text-center">
              <div class="col-md-3">
                  <div class="col-md-3 pb-3">
                      <img src="../static/img/Evoluzn Logo (1) (1) 1.png" alt="" class="img-fluid small-logo">
                  </div>
              </div>
              <div class="col-md-3">
                  <h5>About us</h5>
                  <ul class="list-unstyled">
                      <li><a href="about.html">About us</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h5>Contact us</h5>
                  <ul class="list-unstyled">
                      <li><a href="Contact Us.html">EvoluznIndia</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h5>Support</h5>
                  <ul class="list-unstyled">
                      <li><a href="Contact Us.html">Customer Support</a></li>
                  </ul>
                  <div class="d-flex justify-content-between mt-3">
                      <a href="https://www.instagram.com/evoluznindia?igsh=bGQwdTQ5NjhocGJi"><img src="../static/img/instagram.png" alt=""></a>
                      <a href="#"><img src="../static/img/twitter.png" alt=""></a>
                      <a href="https://www.linkedin.com/company/evoluzn-india-pvt-ltd/mycompany/"><img src="../static/img/linkedin.png" alt=""></a>
                      <a href="https://www.facebook.com/profile.php?id=100064628276057&mibextid=2JQ9oc"><img src="../static/img/facebook.png" alt=""></a>
                      <!-- Add more social media icons as needed -->
                  </div>
              </div>
          </div>
      </div>
      <hr>
      
  <h5 class="text-center text-grey">Evoluzn Inc. 2024 | T & C</h5>
  </footer>

<script>


      document.addEventListener("DOMContentLoaded", function() {
    // Function to get query parameter value by name
    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    // Update product information based on query parameter
    var productIndex = parseInt(getQueryParam("index"));
    if (!isNaN(productIndex)) {
        var products = [
            {
                name: "CLEAN ROOM MONITOR",
                model: "EZN-CRMxxxx-B/W",
                image: "../static/img/Info. Clean Rooms Environmental Parameters Monitoring Solution.png",
                secondaryImage: "../static/img/Clean Rooms Environmental Parameters Monitoring Solution information.png"
            },
            {
                name: "SMART INDUSTRIAL CONTROL PANEL",
                model: "EZN-32INxxxx-T",
                image: "../static/img/Info. 32 Touch Display Solution.png",
                secondaryImage: "../static/img/SMART INDUSTRIAL control panel Information Text.png"
            },
            {
                name: "GAS PRESSURE MONITOR",
                model: "EZN-MFDxxxx",
                image: "../static/img/Info. Gas Levels Monitoring Solution.png",
                secondaryImage: "../static/img/Gas Pressure Monitor Information Text.png"
            },
            {
                name: "MULTI MACHINES CONTROLLER",
                model: "EZN-MMC-8Mxxxx-95",
                image: "../static/img/Info. Industrial Machines Control Panels.png",
                secondaryImage: "../static/img/multi Machines Controler Information Text.png"
            },
            {
                name: "DUST PARTICLE MONITOR",
                model: "EZN-PDMxxxx-B/W",
                image: "../static/img/Info. Portable Air Particle Counter.png",
                secondaryImage: "../static/img/Dust Particle Monitor Information Text.png"
            },
            {
                name: "AIRFLOW MONITOR",
                model: "EZN-AFMxxxx",
                image: "../static/img/Info. Portable CFM Monitoring.png",
                secondaryImage: "../static/img/Airflow Monitor Information Text.png"
            },
            {
                name: "Smart LIGHT",
                model: " EZN-LED-2x2xxxx-60",
                image: "../static/img/Info. Smart LED Solutions.png",
                secondaryImage: "../static/img/Smart Light Information Text.png"
            },
            {
                name: "Smart Smoke Detector",
                model: "EZN-SSDxxxx",
                image: "../static/img/Info. Smoke Detector.png",
                secondaryImage: "../static/img/Smart Smoke Detector Information Text.png"
            },
            {
                name: "Temperature, Humidity & Differential Pressure Meter",
                model: "EZN-THDPSxxxx-B/W",
                image: "../static/img/Info. THDP Meter.png",
                secondaryImage: "../static/img/THDP Information text.png"
            },
            {
                name: "16A Smart Plug",
                model: "EZN-SP16xxxx",
                image: "../static/img/Info. 16A Smart Plug & 16A Behind The Board.png",
                secondaryImage: "../static/img/16A Smart Plug Information Text.png"
            },
            {
                name: "Industrial Energy Monitor and Controler",
                model: "EZN-IEMCxxxx",
                image: "../static/img/Info. 3 Phase Energy Monitoring & Controlling.png",
                secondaryImage: "../static/img/Industrial Energy Monitor and Controler Information Text.png"
            }
            // Add more products as needed
        ];

        var selectedProduct = products[productIndex];
        document.getElementById("productName").textContent = selectedProduct.name;
        document.getElementById("productModel").textContent = "Model No: " + selectedProduct.model;
        document.getElementById("productImage").src = selectedProduct.image;
        document.getElementById("secondaryImage").src = selectedProduct.secondaryImage;
    }
});

</script>

<!-- Bootstrap JS and jQuery (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
