<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>evoluzn</title>
        <link rel="icon" type="image/x-icon" href="/static/img/CIRCLE_LOGO.png">
      </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white pl-5 pr-5">
    <a class="navbar-brand" href="index.html">
        <img src="../static/img/Evoluzn Logo (1) (1) 1.png" alt="Logo" class="logo img-fluid">
    </a> 
  <!-- Collapsed navbar toggle button for mobile and tablet -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item pr-5">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item pr-5">
        <a class="nav-link" href="about.html">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Contact Us.html">Contact Us</a>
      </li>
    </ul>
  </div>
  
</nav> 

    <div class="container pb-5">
        <h1 class="about-head">About Us</h1>
        <div class="row">
            <div class="col-md-7">

                <p class="para">Evoluzn Inc was formed in 2012 under the laws of Illinois, USA, with a primary focus on wireless
                    broadband devices, including 5G/4G/3G routers.
                    <br>
                    <br> Evoluzn India Private Limited is a fully owned subsidiary of Evoluzn Inc. that was established
                    in 2019. The company’s focus is on Research, Development,
                    and Manufacturing of Internet of Things (IoT) devices that are useful in Home, Office, and
                    Industrial Automation.
                    <br>
                    <br> Evoluzn India Cleanrooms Private Limited, a fully owned subsidiary of Evoluzn Inc., was
                    established in 2022. The company’s focus is on Cleanroom Solutions suitable for Pharmaceutical, Electrical, 
                    and Electronics Industries, as well as Surgical Rooms
                    in Medical Facilities.
                </p>
            </div>
            <div class="col-md-5 ">
                <img src="../static/img/Group 904.png " class="img-fluid" alt="Second Image">
            </div>
        </div>
    </div>
    <hr>

    <footer class="footer bg-white  py-4">
      <hr>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="col-md-3 pb-3">
                        <img src="../static/img/Evoluzn Logo (1) (1) 1.png" alt="" class="img-fluid small-logo">
                    </div>
                </div>
                <div class="col-md-3">
                    <h5>About us</h5>
                    <ul class="list-unstyled">
                        <li><a href="about.html">About us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contact us</h5>
                    <ul class="list-unstyled">
                        <li><a href="Contact Us.html">EvoluznIndia</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="Contact Us.html">Customer Support</a></li>
                    </ul>
                    <div class="d-flex justify-content-between mt-3">
                        <a href="https://www.instagram.com/evoluznindia?igsh=bGQwdTQ5NjhocGJi"><img src="../static/img/instagram.png" alt=""></a>
                        <a href="#"><img src="../static/img/twitter.png" alt=""></a>
                        <a href="https://www.linkedin.com/company/evoluzn-india-pvt-ltd/mycompany/"><img src="../static/img/linkedin.png" alt=""></a>
                        <a href="https://www.facebook.com/profile.php?id=100064628276057&mibextid=2JQ9oc"><img src="../static/img/facebook.png" alt=""></a>
                        <!-- Add more social media icons as needed -->
                    </div>
                </div>
            </div>
        </div>
        <hr>
        
    <h5 class="text-center text-grey">Evoluzn Inc. 2024 | T & C</h5>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>