<hr>
<footer class="footer bg-white  py-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="col-md-3 pb-3">
                    <img src="../static/img/Evoluzn Logo (1) (1) 1.png" alt="" class="img-fluid small-logo">
                </div>
            </div>
            <div class="col-md-3">
                <h5>About us</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact us</h5>
                <ul class="list-unstyled">
                    <li><a href="#">EvoluznIndia</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Customer Support</a></li>
                </ul>
                <div class="d-flex justify-content-between mt-3">
                    <a href="#"><img src="../static/img/instagram.png" alt=""></a>
                    <a href="#"><img src="../static/img/twitter.png" alt=""></a>
                    <a href="#"><img src="../static/img/linkedin.png" alt=""></a>
                    <a href="#"><img src="../static/img/facebook.png" alt=""></a>
                    <!-- Add more social media icons as needed -->
                </div>
            </div>
        </div>
    </div>
</footer>
<hr>
<h5 class="text-center text-grey">Evoluzn Inc. 2021 | T & C</h5>